div {
    margin: auto 0;
}

input {
    border: soild 0.5px;
    padding: 7px;
    margin: 7px 10px 0 0;
    border-radius: 30px;
}

button {
    border: none;
    background-color: green;
    border-radius: 30px;
    padding: 10px;
    color: white;
    margin: 10px 0 0 0;
}