<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Todo</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet">
<body>
<th:block th:replace="~{fragment/menu::menuFragment}"></th:block>

<h4 class="text-center my-3 pb-3">To Do App</h4>

<form class="row row-cols-lg-auto g-3 justify-content-center align-items-center mb-4 pb-2" action="/updateTodo" method="post">
  <div class="col-12">
    <div class="d-flex">
      <input type="text" id="form1" th:value="${todo.content} " class="form-control me-2" name="content"/>
      <input type="password" id="form2" class="form-control me-2" name="password" placeholder="수정 시 필요한 비밀번호를 적어주세요"/>
      <input type="hidden" th:value="${todo.idx}" name="idx">
      <button type="submit" class="btn btn-primary">Save</button>
    </div>
  </div>
</form>
</body>
</html>